<app-base-dialog
  [title]="data?.event?.id ? 'Editar evento' : 'Agregar evento'"
  description="Crea o edita un evento, asegurate de llenar todos los campos."
>
  <form form [formGroup]="form" class="flex flex-col gap-4 mt-8">
    <div class="grid grid-cols-2 gap-4">
      <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="title" />
        @if (form.get('title')?.hasError('required')) {
        <mat-error>Nombre requerido</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="description"> </textarea>
        @if (form.get('description')?.hasError('required')) {
        <mat-error>Descripción requerida</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matIconSuffix [for]="picker" />
        <mat-datepicker #picker></mat-datepicker>
        @if (form.get('date')?.hasError('required')) {
        <mat-error>Fecha requerida</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
        <mat-label>Actividad</mat-label>
        <mat-select formControlName="activityId">
          @for (activity of data?.activities; track $index) {
          <mat-option [value]="activity.id">{{ activity.title }}</mat-option>
          }
        </mat-select>
        @if (form.get('activityId')?.hasError('required')) {
        <mat-error>Actividad requerida</mat-error>
        }
      </mat-form-field>
    </div>
  </form>
  <ng-content actions>
    <div class="grid grid-cols-2 gap-2 w-full md:w-1/2">
      <button
        mat-fab
        extended="true"
        color="warn"
        (click)="close()"
        class="col-span-1"
      >
        Cancelar
      </button>
      <button
        mat-fab
        extended="true"
        (click)="onSave()"
        class="col-span-1"
        [disabled]="form.invalid"
      >
        Guardar
      </button>
    </div>
  </ng-content>
</app-base-dialog>
