<div class="py-5 px-5 md:px-0">
  <section class="mb-6">
    <h1
      class="text-5xl font-bold brand-text-headline-color font-noto-serif pb-2"
    >
      Panel de configuración
    </h1>
    <p class="text-gray-600 font-medium">
      En esta sección se pueden configurar los parámetros del sistema, tantos
      las imagenes, las actividades, eventos y general.
    </p>
  </section>
  <article>
    <app-horizontal-vertical-tabs
      [isHorizontalPredetermined]="true"
      [enableQueryParams]="true"
      [queryParamId]="'panel'"
      [defaultTabIndex]="0"
      (changeTab)="onTabChange($event)"
    >
      <tab label="Actividades">
        @if(selectedTabIdx === 0){
        <app-activities />
        }
      </tab>
      <tab label="Eventos"> @if(selectedTabIdx === 1){ Eventos } </tab>
      <tab label="General">
        @if(selectedTabIdx === 2){
        <app-general />
        }
      </tab>
      <tab label="Usuarios">
        @if(selectedTabIdx === 3){
        <app-manage-users />
        }
      </tab>
      <tab label="Foro">
        @if(selectedTabIdx === 4){
        <app-manage-forum />
        }
      </tab>
    </app-horizontal-vertical-tabs>
  </article>
</div>
