<div class="py-5 px-5 md:px-0">
  <section class="mb-6">
    <h1
      class="text-5xl font-bold brand-text-headline-color font-noto-serif pb-2"
    >
      Panel de configuración
    </h1>
    <p class="text-gray-600 font-medium">
      En esta sección se pueden configurar los parámetros del sistema, tantos
      las imagenes, las actividades, eventos y general.
    </p>
  </section>
  <article>
    <app-horizontal-vertical-tabs
      [isHorizontalPredetermined]="true"
      [enableQueryParams]="true"
      [queryParamId]="'panel'"
      [defaultTabIndex]="0"
    >
      <tab label="Actividades">
        <app-activities />
      </tab>
      <tab label="Eventos">Eventos</tab>
      <tab label="General">
        <app-general />
      </tab>
      <tab label="Usuarios">
        <app-manage-users />
      </tab>
    </app-horizontal-vertical-tabs>
  </article>
</div>
