<article class="flex flex-col gap-x-10 h-auto mt-16 md:mt-32 justify-center">
  <section class="flex w-full text-center justify-center mb-5 md:mb-16">
    <span
      class="p-2 font-noto-serif text-4xl md:text-6xl font-extrabold text-transparent bg-gradient-to-r from-blue-300 to-[#024d99] bg-clip-text"
      >Nuestros Valores</span
    >
  </section>
  <div
    class="w-full h-2 md:h-[2.3px] bg-gradient-to-r from-blue-300 to-[#024d99] hidden md:flex"
  ></div>
  <section
    class="flex flex-col md:flex-row text-center justify-center items-center md:items-stretch gap-10"
  >
    <div class="flex flex-col">
      <div class="flex w-full justify-center">
        <mat-icon class="custom-icon-values">supervisor_account</mat-icon>
      </div>
      <span class="font-noto-serif text-3xl text-yellow-400 font-bold mb-4"
        >Comunidad</span
      >

      <span class="px-[9%] text-xl text-gray-600 font-medium"
        >Creemos en construir relaciones auténticas y apoyarnos mutuamente en
        amor.</span
      >
    </div>
    <div
      class="!w-[8px] min-h-full bg-gradient-to-r from-blue-300 to-[#024d99] hidden md:flex"
    ></div>
    <div
      class="w-[90%] h-2 bg-gradient-to-r from-blue-300 to-[#024d99] flex md:hidden"
    ></div>
    <div class="flex flex-col">
      <div class="flex w-full justify-center">
        <mat-icon class="custom-icon-values">menu_book</mat-icon>
      </div>
      <span class="font-noto-serif text-3xl text-yellow-400 font-bold mb-4"
        >Palabra de Dios</span
      >
      <span class="px-[9%] text-xl text-gray-600 font-medium"
        >Nos fundamentamos en las escrituras como guía para nuestra vida y
        ministerio.</span
      >
    </div>
    <div
      class="w-2 min-h-full bg-gradient-to-r from-blue-300 to-[#024d99] hidden md:flex"
    ></div>
    <div
      class="w-[90%] h-2 bg-gradient-to-r from-blue-300 to-[#024d99] flex md:hidden"
    ></div>
    <div class="flex flex-col">
      <div class="flex w-full justify-center">
        <mat-icon class="custom-icon-values">favorite</mat-icon>
      </div>
      <span class="font-noto-serif text-3xl text-yellow-400 font-bold mb-4"
        >Servicio</span
      >
      <span class="px-[9%] text-xl text-gray-600 font-medium"
        >Nos dedicamos a servir a Dios y a nuestra comunidad con amor y
        excelencia.</span
      >
    </div>
  </section>
</article>
