<article class="brand-content-center">
  <article class="flex flex-col w-[90%] md:w-full h-full gap-5 p-5 md:p-10">
    <div>
      <p class="text-lg text-gray-600 font-medium">
        En esta sección, puedes actualizar tu información personal, incluyendo
        tus nombres, apellidos, correo electrónico, url de imagen y nombre de
        usuario.
      </p>
    </div>

    <form [formGroup]="form" class="flex flex-col gap-5">
      <div class="flex flex-col w-full gap-y-5">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nombre(s)</mat-label>
          <input type="text" matInput formControlName="firstName" />
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Apellido(s)</mat-label>
          <input type="text" matInput formControlName="lastName" />
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Correo eléctronico</mat-label>
          <input type="text" matInput formControlName="email" />
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nombre de usuario</mat-label>
          <input type="text" matInput formControlName="username" />
          <mat-icon matPrefix>account_circle</mat-icon>
        </mat-form-field>
      </div>
      @if (user) {<app-upload-file
        [fileName]="user.username"
        folder="Profile"
        [filePublicId]="form.get('publicId')?.value"
        [fileUrl]="form.get('avatarUrl')?.value"
        (onFileUploaded)="uploadImage($event)"
      ></app-upload-file
      >}
    </form>
    <div class="flex justify-end">
      <button
        mat-fab
        extended="true"
        type="button"
        color="primary"
        (click)="saveInfo()"
      >
        Guardar cambios
      </button>
    </div>
  </article>
</article>
