<mat-card appearance="outlined" class="max-w-[400px] h-full">
  <mat-card-header>
    <mat-card-title>{{ title() }}</mat-card-title>
    @if(withMenu()) {
    <div class="absolute right-2 top-2">
      <ng-content select="[menu]"></ng-content>
    </div>
    }
  </mat-card-header>
  <mat-card-content class="h-full">
    <div class="my-5 h-full">
      <ng-content select="[content]"></ng-content>
    </div>
  </mat-card-content>
  @if(withActions()) {
  <mat-card-actions>
    <div class="flex justify-end">
      <ng-content select="[actions]"></ng-content>
    </div>
  </mat-card-actions>
  }
</mat-card>
