<form [formGroup]="form">
  <div class="grid grid-cols-12 gap-4 mx-0">
    @for (field of searchFields(); track $index) { @if (field.type !==
    'dateRange') {
    <mat-form-field
      appearance="outline"
      class="col-span-12"
      [ngClass]="{
        'md:col-span-6': getFormLength() === 1,
        'md:col-span-3 px-0 md:px-1': getFormLength() > 1
      }"
    >
      <mat-label>{{ field.label }}</mat-label>
      @if (field.type === 'text') {
      <input
        matInput
        [placeholder]="field.placeholder || ''"
        [formControlName]="field.name"
      />
      } @if (field.type === 'select') {
      <mat-select [formControlName]="field.name">
        @for (option of field.options; track $index) {
        <mat-option [value]="option.value">
          {{ option.label }}
        </mat-option>
        }
      </mat-select>
      } @if (field.type === 'autocomplete') {
      <input
        matInput
        [formControlName]="field.name"
        [matAutocomplete]="auto"
        [placeholder]="field.placeholder || ''"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="field.displayWith || null"
      >
        @for (option of field.autocompleteOptions; track $index) {
        <mat-option [value]="option">
          {{
            option.fullName ||
              option.title ||
              option.firstName + " " + option.lastName
          }}
        </mat-option>
        }
      </mat-autocomplete>
      }

      <input
        *ngIf="field.type === 'date'"
        matInput
        [matDatepicker]="picker"
        [formControlName]="field.name"
        [placeholder]="field.placeholder || ''"
      />
      <mat-datepicker-toggle
        *ngIf="field.type === 'date'"
        matSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    } @if (field.type === 'dateRange') {
    <mat-form-field
      appearance="outline"
      [ngClass]="{
        'col-span-6': getFormLength() === 1,
        'col-span-12 md:col-span-3 px-0 px-md-1': getFormLength() > 1
      }"
    >
      <mat-label>{{ field.label }}</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [formControlName]="field.name + 'Init'" />
        <input matEndDate [formControlName]="field.name + 'End'" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    } } @if(withSubmitButton()){
    <div class="col-span-2">
      <button mat-fab extended="true" color="primary" (click)="submitSearch()">
        Buscar
      </button>
    </div>
    }
  </div>
</form>
