.is-mobile {
  ::ng-deep .mat-mdc-tab-group {
    flex-direction: row !important;
  }
  ::ng-deep .mat-mdc-tab-header {
    border-bottom: none;
  }
  ::ng-deep .mat-mdc-tab-header-pagination {
    display: none !important;
  }
  ::ng-deep .mat-mdc-tab-labels {
    flex-direction: column;
  }
  ::ng-deep .mat-mdc-ink-bar {
    height: 100%;
    left: 98% !important;
  }
  ::ng-deep .mat-mdc-tab-body-wrapper {
    flex: 1 1 auto;
  }
}
