<article class="flex content-between h-full w-[90%]">
  <section class="flex flex-col h-full w-[25%]">
    <button (click)="setTab('see-profile')">Tu perfil</button>
    <button (click)="setTab('edit')">Editas perfil</button>
    <button (click)="setTab('password')">Cambiar contraseña</button>
  </section>

  <section class="h-full w-[75%]">
    <app-see-profile *ngIf="selectedTab === 'see-profile'"></app-see-profile>
    <app-edit-user *ngIf="selectedTab === 'edit'"></app-edit-user>
    <app-change-password
      *ngIf="selectedTab === 'password'"
    ></app-change-password>
  </section>
</article>
