<mat-card appearance="outlined" class="!shadow-gray-400/50 !shadow-md my-2">
  <mat-card-header class="w-full">
    <section class="flex justify-between items-start w-full">
      <!-- Nombre del usuario -->
      <div class="flex w-[50%] h-full items-center">
        <h1 class="text-xl font-medium">
          {{ itemComment()?.user?.firstName }}
          {{ itemComment()?.user?.lastName }}
        </h1>
      </div>

      <!-- Botón de menú (solo si el usuario es el dueño del comentario) -->
      @if(userLogged() && userLogged()?.id === itemComment()?.userId) {
      <div class="flex w-[50%] justify-end">
        <button
          mat-icon-button
          #menuTrigger="matMenuTrigger"
          [matMenuTriggerFor]="menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="editComment()">
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="deleteEvent.emit(itemComment())">
            <mat-icon>delete</mat-icon>
            <span>Eliminar</span>
          </button>
        </mat-menu>
      </div>
      }
    </section>
  </mat-card-header>

  <mat-card-content>
    <!-- Mostrar contenido o textarea para editar -->
    <div *ngIf="!isEditing; else editMode" class="mb-1.5">
      <p>{{ itemComment()?.content }}</p>
    </div>

    <ng-template #editMode>
      <mat-form-field class="w-full" appearance="outline">
        <textarea
          matInput
          [(ngModel)]="editedContent"
          cdkTextareaAutosize
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="5"
        ></textarea>
      </mat-form-field>

      <div
        class="flex w-full content-between items-center justify-end gap-5 my-2.5"
      >
        <button mat-fab extended="true" (click)="saveEdit()">
          <span class="text-md">Guardar</span>
        </button>
        <button mat-fab extended="true" color="warn" (click)="cancelEdit()">
          <span class="text-md">Salir</span>
        </button>
      </div>
    </ng-template>

    <!-- Botones de responder/ver respuestas -->
    <a
      role="button"
      (click)="toggleReply()"
      class="inline-flex items-center gap-1 text-gray-600 font-medium hover-underline-animation pr-2 cursor-pointer mx-1"
    >
      Responder
    </a>

    <a
      role="button"
      (click)="toggleReplies()"
      class="inline-flex items-center gap-1 text-gray-600 font-medium hover-underline-animation pr-2 cursor-pointer mx-1"
    >
      {{ showReplies ? "Ocultar respuestas" : "Ver respuestas" }}
    </a>

    <!-- Lista de respuestas -->
    <div *ngIf="showReplies">
      <div
        *ngFor="let reply of replies"
        class="my-2 border p-3 rounded-lg bg-gray-50"
      >
        <div class="flex justify-between items-start w-full">
          <div>
            <strong
              >{{ reply?.user?.firstName }} {{ reply?.user?.lastName }}</strong
            >
          </div>
          <!-- Mostrar texto o campo de edición -->

          <!-- Si el usuario es el autor de la respuesta -->
          @if(userLogged() && userLogged()?.id === reply.userId) {
          <button
            mat-icon-button
            [matMenuTriggerFor]="replyMenu"
            [matMenuTriggerData]="{ reply }"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          }
        </div>

        <div *ngIf="editingReplyId !== reply.id; else editReply">
          <p>{{ reply.content }}</p>
        </div>

        <ng-template #editReply>
          <mat-form-field appearance="outline" class="w-full">
            <textarea
              matInput
              [(ngModel)]="editedReplyContent"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="4"
            ></textarea>
          </mat-form-field>
          <div class="flex justify-end gap-3 mt-2">
            <button mat-fab extended="true" (click)="saveReplyEdit(reply)">
              Guardar
            </button>
            <button
              mat-fab
              extended="true"
              color="warn"
              (click)="cancelReplyEdit()"
            >
              Cancelar
            </button>
          </div>
        </ng-template>
      </div>
    </div>

    <mat-menu #replyMenu="matMenu">
      <ng-template matMenuContent let-reply="reply">
        <button mat-menu-item (click)="startReplyEdit(reply)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>

        <button mat-menu-item (click)="deleteEvent.emit(reply)">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </ng-template>
    </mat-menu>

    <!-- Input para responder -->
    <div *ngIf="showReply" class="mt-2">
      <form [formGroup]="form">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label
            [ngClass]="{
              'text-red-600 font-semibold': !userLogged()
            }"
          >
            {{
              userLogged()
                ? "Responderás a este comentario como " +
                  (userLogged()?.firstName || "") +
                  " " +
                  (userLogged()?.lastName || "")
                : "Para responder a este comentario debes iniciar sesión"
            }}
          </mat-label>
          <textarea
            matInput
            formControlName="content"
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            [readonly]="!userLogged()"
            (focus)="handleFocus($event)"
          ></textarea>
          <mat-icon matPrefix>badge</mat-icon>
          <mat-icon
            matSuffix
            class="cursor-pointer"
            (click)="sendReply(itemComment()?.id || '')"
            [class.opacity-50]="!userLogged()"
            [style.pointer-events]="!userLogged() ? 'none' : 'auto'"
          >
            send
          </mat-icon>
        </mat-form-field>
      </form>
    </div>
  </mat-card-content>
</mat-card>
