<div class="py-3">
  <h1 class="text-2xl font-bold brand-text-headline-color font-noto-serif">
    Gestión del Foro
  </h1>
  <p>
    Aquí puedes agregar, editar y eliminar los discusiones del foro así como los
    comentarios.
  </p>
  <div class="flex justify-center md:justify-end">
    <button
      class="my-4"
      mat-fab
      extended="true"
      color="primary"
      matTooltip="Crear discusión"
      (click)="openCreateOrUpdatePostDialog()"
    >
      Crear discusión
    </button>
  </div>
  <app-data-table
    [columns]="columns"
    [actions]="actions"
    [searchFields]="searchFields"
    [withSearchFields]="true"
    [form]="form"
    [withPagination]="true"
    [withActions]="true"
    [paginationParams]="paginationResults"
    [results]="results"
    (onPageChange)="onChangePagination($event)"
    (onSearchSubmit)="onSearchSubmit($event)"
    [withSubmitButton]="true"
  ></app-data-table>
</div>
