<article class="flex flex-col h-auto mt-32">
  <section class="flex w-full justify-center mb-16">
    <span
      class="font-noto-serif text-6xl font-extrabold text-transparent bg-gradient-to-r from-blue-300 to-[#024d99] bg-clip-text"
      >Dónde encontrarnos</span
    >
  </section>
  <div class="flex content-between justify-center gap-x-10">
    <section class="flex w-[45%]">
      <div class="flex flex-col p-5 w-full h-auto">
        <div class="flex items-center mb-2.5 gap-1">
          <mat-icon class="custom-icon-ubication">location_on</mat-icon>
          <span class="font-noto-serif text-3xl text-yellow-400 font-bold"
            >Ubicación</span
          >
        </div>
        <span class="text-xl text-gray-600 font-medium">
          Nuestra misión es compartir el amor de Cristo, transformar vidas a
          través del evangelio y construir una comunidad fuerte donde cada
          persona pueda crecer espiritualmente y encontrar su propósito en Dios.
        </span>
      </div>
    </section>

    <section class="flex w-[45%]">
      <div class="flex flex-col p-5 w-full h-auto">
        <div class="flex items-center mb-2.5 gap-1">
          <mat-icon class="custom-icon-ubication">calendar_today</mat-icon>
          <span class="font-noto-serif text-3xl text-yellow-400 font-bold"
            >Horarios de Servicio</span
          >
        </div>
        <span class="text-xl text-gray-600 font-medium">
          Ser una iglesia que impacte positivamente a nuestra comunidad,
          formando discípulos comprometidos con Cristo, siendo un faro de
          esperanza y restauración para las familias, y expandiendo el Reino de
          Dios con amor y excelencia.
        </span>
      </div>
    </section>
  </div>
</article>
