<article class="flex flex-col h-auto mt-16 md:mt-32">
  <section class="flex w-full text-center justify-center mb-5 md:mb-16">
    <span
      class="p-2 font-noto-serif text-4xl md:text-6xl font-extrabold text-transparent bg-gradient-to-r from-blue-300 to-[#024d99] bg-clip-text"
      >Dónde encontrarnos</span
    >
  </section>
  <div class="flex flex-col md:flex-row">
    <section class="flex w-[90%] md:w-1/2 mx-auto">
      <div class="flex flex-col p-5 w-full h-auto">
        <div class="flex content-between items-center mb-2.5 gap-1">
          <div>
            <mat-icon class="custom-icon-ubication">location_on</mat-icon>
          </div>
          <span
            class="font-noto-serif text-2xl md:text-3xl text-yellow-400 font-bold"
            >Ubicación</span
          >
        </div>
        <app-map
          [coordinates]="[1.143998976048735, -76.64301335897179]"
          [message]="'Ipuc sede cuarta Mocoa'"
        />
        <a
          href="https://www.google.com/maps/place/1%C2%B008'38.4%22N+76%C2%B038'34.9%22W/@1.1440044,-76.6455883,1134m/data=!3m2!1e3!4b1!4m4!3m3!8m2!3d1.143999!4d-76.6430134?entry=ttu&g_ep=EgoyMDI1MDMxMi4wIKXMDSoASAFQAw%3D%3D"
          target="_blank"
          class="mt-4 text-blue-500 font-semibold underline hover:text-blue-700"
        >
          Ver en Google Maps
        </a>
      </div>
    </section>

    <section class="flex w-[90%] md:w-1/2 mx-auto">
      <div class="flex flex-col p-5 w-full h-auto">
        <div class="flex content-between items-center mb-2.5 gap-1">
          <div>
            <mat-icon class="custom-icon-ubication">calendar_today</mat-icon>
          </div>
          <span
            class="font-noto-serif text-2xl md:text-3xl text-yellow-400 font-bold"
            >Horarios de Servicio</span
          >
        </div>
        <div *ngFor="let day of daysWeek" class="flex flex-col">
          <span class="text-2xl text-black font-noto-serif font-medium">
            {{ day.name }}
          </span>
          <span class="text-lg text-gray-600">
            {{ day.event }}
          </span>
        </div>
      </div>
    </section>
  </div>
</article>
