<nav class="nav">
  <article
    class="bg-amber-300 flex content-between w-[90%] h-full rounded-lg px-[2vw]"
  >
    <section class="flex content-between w-[50%] justify-center items-center">
      <div class="flex w-[10%] content-between justify-start text-center">
        <img
          src="../../../../assets/images/LOGO-IPUC.svg"
          alt="Logo IPUC"
          class="flex w-[70px] h-full cursor-pointer"
          routerLink="/"
        />
      </div>
      <div class="flex w-[90%] justify-start items-center px-2">
        <span>Iglesia Pentecostal Unida de Colombia – 4ta </span>
      </div>
    </section>
    <section class="flex w-[50%] justify-center items-center">
      <div class="flex w-full content-between justify-end text-center">
        <a
          routerLink="/home"
          type="button"
          class="py-[15px] w-[25%] hover:bg-blue-500/50 rounded-lg transition-all duration-300 ease-in-out transform hover:scale-105"
          >Inicio</a
        >
        <a
          routerLink="/about"
          class="py-[15px] w-[25%] hover:bg-blue-500/50 rounded-lg transition-all duration-300 ease-in-out transform hover:scale-105"
          >Sobre Nosotros</a
        >
        <a
          routerLink="/auth/login"
          class="py-[15px] w-[25%] hover:bg-blue-500/50 rounded-lg transition-all duration-300 ease-in-out transform hover:scale-105"
          >Iniciar Sesión</a
        >
        <a
          routerLink="/auth/register"
          class="py-[15px] w-[25%] hover:bg-blue-500/50 rounded-lg transition-all duration-300 ease-in-out transform hover:scale-105"
          >Registrarse</a
        >
      </div>
    </section>
  </article>
</nav>
