<nav class="nav brand-navigation-center">
  <article
    class="color-nav flex content-between w-[70%] h-full rounded-lg px-[2vw]"
  >
    <section class="flex content-between w-[50%] justify-center items-center">
      <div class="flex w-[10%] content-between justify-start text-center">
        <img
          src="../../../../assets/images/LOGO-IPUC.svg"
          alt="Logo IPUC"
          class="flex w-[50px] h-[35px] cursor-pointer hover:scale-110 transition-transform duration-300"
          routerLink="/"
        />
      </div>
      <div class="flex w-[90%] justify-start items-center px-2"></div>
    </section>
    <section class="flex w-[50%] justify-center items-center">
      <div
        class="flex w-full content-between justify-end text-center text-gray-200 font-medium gap-2"
      >
        <a
          routerLink="/home"
          class="py-[15px] w-[25%] rounded-lg transition-colors duration-200 ease-in-out hover:bg-white/10"
          >Inicio</a
        >
        <a
          routerLink="/public/about"
          class="py-[15px] w-[25%] rounded-lg transition-colors duration-200 ease-in-out hover:bg-white/10"
          >Sobre Nosotros</a
        >
        <a
          routerLink="/auth/login"
          class="py-[15px] w-[25%] rounded-lg transition-colors duration-200 ease-in-out hover:bg-white/10"
          >Iniciar Sesión</a
        >
      </div>
    </section>
  </article>
</nav>
