<app-base-dialog
  [title]="data?.id || null ? 'Editar discusión' : 'Crear discusión'"
>
  <ng-content form>
    <form [formGroup]="form" class="w-full flex flex-col gap-2.5">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Pregunta</mat-label>
        <input matInput formControlName="title" />
        <mat-icon matPrefix>help_center</mat-icon>
        @if (form.get('title')?.hasError('required')) {
        <mat-error>La pregunta es requerida</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          formControlName="description"
          [maxlength]="maxLenght"
          rows="4"
        ></textarea>
        <mat-icon matPrefix>description</mat-icon>
        <mat-hint align="end" class="text-xs text-neutral-500 font-medium"
          >{{ form.get("description")?.value?.length }}/{{
            maxLenght
          }}</mat-hint
        >
        @if (form.get('description')?.hasError('required')) {
        <mat-error>Descripción requerida</mat-error>
        }
      </mat-form-field>
    </form>
  </ng-content>
  <ng-content actions>
    <div class="grid grid-cols-2 gap-2 w-full md:w-1/2">
      <button
        mat-fab
        extended="true"
        color="warn"
        class="col-span-1"
        (click)="dialogRef.close()"
      >
        Cancelar
      </button>
      <button
        mat-fab
        extended="true"
        class="col-span-1"
        (click)="save()"
        [disabled]="form.invalid || loading"
      >
        Guardar
      </button>
    </div>
  </ng-content>
</app-base-dialog>
