<section class="mt-20 md:mt-32 flex justify-center">
  <div class="w-[90%] md:w-[70%] text-center">
    <h1
      class="font-noto-serif text-4xl sm:text-6xl font-extrabold text-transparent bg-gradient-to-r from-blue-300 to-[#024d99] bg-clip-text py-2"
    >
      ¿Qué es la IPUC?
    </h1>
    <p class="text-xl text-gray-600 font-medium mt-5">
      La iglesia pentecostal unida de Colombia es un cálido hogar de fe y
      esperanza, un lugar donde cada corazón encuentra un espacio para crecer y
      renovarse. Aquí, en la sede cuarta en Mocoa Putumayo, celebramos el amor
      de Dios a través de encuentros que inspiran, transforman y unen a nuestra
      comunidad en un viaje lleno de luz, solidaridad y alegría. ¡Ven y descubre
      un rincón donde la fe se vive con pasión y se comparte con el alma!
    </p>
    <div class="justify-center flex my-5">
      <a
        href="https://ipuc.org.co/"
        target="_blank"
        role="button"
        class="flex flex-row items-center hover-underline-animation gap-1 cursor-pointer"
      >
        <span class="text-lg font-medium text-blue-600"
          >Ir al sitio oficial de la IPUC
        </span>
        <mat-icon class="mt-1" color="primary">arrow_right_alt</mat-icon>
      </a>
    </div>
  </div>
</section>
