<article class="flex flex-col h-auto mt-32">
  <section class="flex w-full justify-center mb-16">
    <span
      class="p-2 font-noto-serif text-6xl font-extrabold text-transparent bg-gradient-to-r from-blue-300 to-[#024d99] bg-clip-text"
      >Nuestros Objetivos</span
    >
  </section>
  <div class="flex content-between justify-center gap-x-10">
    <section class="flex w-[45%]">
      <div
        class="flex flex-col p-10 color-nav rounded-lg text-white w-full h-auto"
      >
        <div class="flex items-center mb-2.5 gap-1">
          <mat-icon class="custom-icon-vision-mission">favorite</mat-icon>
          <span class="font-noto-serif text-4xl text-yellow-400 font-bold"
            >Visión</span
          >
        </div>
        <span class="text-xl text-gray-300 font-medium">
          Nuestra misión es compartir el amor de Cristo, transformar vidas a
          través del evangelio y construir una comunidad fuerte donde cada
          persona pueda crecer espiritualmente y encontrar su propósito en Dios.
        </span>
      </div>
    </section>

    <section class="flex w-[45%]">
      <div
        class="flex flex-col p-10 color-nav rounded-lg text-white w-full h-auto"
      >
        <div class="flex items-center mb-2.5 gap-1">
          <mat-icon class="custom-icon-vision-mission">menu_book</mat-icon>
          <span class="font-noto-serif text-4xl text-yellow-400 font-bold"
            >Misión</span
          >
        </div>
        <span class="text-xl text-gray-300 font-medium">
          Ser una iglesia que impacte positivamente a nuestra comunidad,
          formando discípulos comprometidos con Cristo, siendo un faro de
          esperanza y restauración para las familias, y expandiendo el Reino de
          Dios con amor y excelencia.
        </span>
      </div>
    </section>
  </div>
</article>
