<article class="flex flex-col h-auto mt-16 md:mt-32">
  <section class="flex w-full text-center justify-center mb-5 md:mb-16">
    <span
      class="p-2 font-noto-serif text-4xl md:text-6xl font-extrabold bg-gradient-to-r from-blue-300 to-[#024d99] text-transparent bg-clip-text"
      >Nuestros Objetivos</span
    >
  </section>
  <div
    class="w-full h-2 md:h-[2.3px] bg-gradient-to-r from-blue-300 to-[#024d99] hidden md:flex"
  ></div>
  <div
    class="flex flex-col md:flex-row justify-center items-center md:items-stretch gap-5 md:gap-10"
  >
    <section class="flex w-[90%] md:w-[45%]">
      <div class="flex flex-col p-5 rounded-lg text-white w-full h-full">
        <div class="flex items-center mb-2.5 gap-1">
          <mat-icon class="custom-icon-vision-mission">favorite</mat-icon>
          <span class="font-noto-serif text-4xl text-yellow-400 font-bold"
            >Visión</span
          >
        </div>
        <span class="text-xl text-gray-600 font-medium">
          {{ vision() }}
        </span>
      </div>
    </section>
    <div
      class="w-2 md:w-[2.3px] min-h-full bg-gradient-to-r from-blue-300 to-[#024d99] hidden md:flex"
    ></div>
    <div
      class="w-[90%] h-2 bg-gradient-to-r from-blue-300 to-[#024d99] flex md:hidden"
    ></div>

    <section class="flex w-[90%] md:w-[45%]">
      <div class="flex flex-col p-5 rounded-lg text-white w-full h-full">
        <div class="flex items-center mb-2.5 gap-1">
          <mat-icon class="custom-icon-vision-mission">menu_book</mat-icon>
          <span class="font-noto-serif text-4xl text-yellow-400 font-bold"
            >Misión</span
          >
        </div>
        <span class="text-xl text-gray-600 font-medium">
          {{ mission() }}
        </span>
      </div>
    </section>
  </div>
</article>
