<footer class="footer brand-navigation-center">
  <article
    class="color-footer flex content-between w-[70%] h-full rounded-t-lg px-[2vw] backdrop-blur-md"
  >
    <section class="flex content-between w-[30%] justify-start items-center">
      <div class="flex ontent-between w-[20%] justify-center text-center">
        <img
          src="../../../../assets/images/LOGO-IPUC.svg"
          alt="Logo IPUC"
          class="flex w-[50px] h-[35px] cursor-pointer"
          routerLink="/"
        />
      </div>
    </section>
    <section class="flex w-[70%] justify-center items-center">
      <div
        class="flex w-full content-between justify-end text-center text-white"
      >
        <span class="text-gray-300 font-medium"
          >© 2024 Iglesia Pentecostal Unida de Colombia - 4ta. Todos los
          derechos reservados.</span
        >
      </div>
    </section>
  </article>
</footer>
