// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import "tailwindcss";
@use "ngx-toastr/toastr";
@use "variables";
@use "breakpoints";
@use "global";
@use "mat-theming";
@use "mat-config-theme";
@use "animations";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
