// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use "@angular/material" as mat;
@import "tailwindcss";
@import "ngx-toastr/toastr";
@import "variables";
@import "breakpoints";
@import "global";
@import "mat-theming";
@import "mat-config-theme";
@import "animations";
@import "@fontsource-variable/inter";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Inter Variable", sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  overflow-x: hidden !important;
  width: 100%;
}
