@import "variables";
// Supports weights 100-900
@import "@fontsource-variable/noto-serif";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: $heigth-nav-bar;

  width: 100%;
  z-index: 1000;
}

.color-nav {
  background: linear-gradient(to right, $header-light, $header-background);
}

.color-footer {
  background: linear-gradient(to right, $footer-light, $footer-background);
}

.app-container {
  margin-top: 15px;
  display: flex;
  min-height: 100vh;
  padding-top: calc($heigth-nav-bar);
  color: white;
}

.main {
  color: black;
}

.footer {
  height: $heigth-footer;
  width: 100%;
}

.brand-content-center {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-navigation-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-noto-serif {
  font-family: "Noto Serif Variable", serif;
}
