// Colores base
$white-color-base: #ffffff;
$black-color-base: #000000;
$black-color-base-10: #ffffff;
$brand-red-color: #d61a44;
$brand-red-color-10: #a90429;

// Paleta de colores base
$deep-purple-50: #ede7f6;
$deep-purple-100: #d1c4e9;
$deep-purple-200: #b39ddb;
$deep-purple-300: #9575cd;
$deep-purple-400: #7e57c2;
$deep-purple-500: #673ab7;
$deep-purple-600: #5e35b1;
$deep-purple-700: #512da8;
$deep-purple-800: #4527a0;
$deep-purple-900: #2a119a;
$deep-purple-A100: #b388ff;
$deep-purple-A200: #7c4dff;
$deep-purple-A400: #651fff;
$deep-purple-A700: #6200ea;
$deep-purple-dark: #10172b;

// Colores semánticos principales
$brand-light-blue-color: #aebfd5;
$primary-color: $deep-purple-500;
// $secondary-color: $deep-purple-900;
$accent-color: $deep-purple-A400;
$background-color: $deep-purple-50;
$surface-color: $white-color-base;
$error-color: #b00020;
$gray-color: #797979;

$heigth-nav-bar: 80px;

// Medidas globales
$brand-height-router-outlet-container: calc(100vh - ($heigth-nav-bar));

// Layout
$header-background: $deep-purple-900;
$header-menu-background: $gray-color;
