<mat-card appearance="outlined" class="!shadow-gray-400/50 !shadow-md">
  <mat-card-header class="!relative">
    <mat-card-title>
      <div>
        <h1 class="text-2xl font-medium">
          {{ item()?.title || "" | capitalize }}
        </h1>
        <div class="text-xs text-gray-500">
          {{ item()?.createdAt || "" | time }}
        </div>
      </div>
      @if(userLogged() && userLogged()?.id === item()?.userId) {
      <button
        mat-icon-button
        class="!absolute top-2 right-2"
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="editEvent.emit(item())">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="deleteEvent.emit(item())">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
      }
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ item()?.description || "" | truncate : 500 | capitalize }}</p>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex gap-2">
      <button
        mat-icon-button
        class="hover:!bg-red-100"
        (click)="item()?.hasLiked ? removeLike() : addLike()"
      >
        <div
          class="flex items-center text-xs"
          [matBadge]="item()?.likesCount || 0"
          matBadgeColor="warn"
        >
          <mat-icon [color]="item()?.hasLiked ? 'primary' : 'null'">{{
            item()?.hasLiked ? "favorite" : "favorite_border"
          }}</mat-icon>
        </div>
      </button>
      <button
        mat-icon-button
        class="hover:!bg-blue-100"
        title="Ver Comentarios"
        [routerLink]="['../post', item()?.id]"
      >
        <div
          class="flex items-center text-xs"
          [matBadge]="item()?.commentsCount || 0"
        >
          <mat-icon>question_answer</mat-icon>
        </div>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
