<article
  class="flex flex-col w-[90%] md:w-full mx-auto bg-white my-5 md:my-10 gap-5"
>
  <div class="flex justify-start">
    <a
      role="button"
      routerLink="/user/profile"
      class="flex flex-row items-center gap-1 hover-underline-animation text-xl"
    >
      <mat-icon class="mt-1">keyboard_backspace</mat-icon>
      <span>Volver</span>
    </a>
  </div>
  <div>
    <p class="text-lg text-gray-600 font-medium">
      En esta sección, puedes cambiar tu contraseña de forma segura para
      proteger tu cuenta.
    </p>
  </div>

  <form [formGroup]="form" class="flex flex-col md:flex-row gap-0 md:gap-5">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Antigua contraseña</mat-label>
      <input type="text" matInput formControlName="passwordOld" />
      <mat-icon matPrefix>lock</mat-icon>
      @if(form.get('passwordOld')?.hasError('required')){
      <mat-error>Antigua contraseña requerida</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nueva contraseña</mat-label>
      <input type="text" matInput formControlName="newPassword" />
      <mat-icon matPrefix>lock_reset</mat-icon>
      @if(form.get('newPassword')?.hasError('required')){
      <mat-error>Contraseña requerida</mat-error>
      } @if(form.get('newPassword')?.hasError('minlength')){
      <mat-error>Contraseña debe tener al menos 8 caracteres</mat-error>
      } @if(form.get('newPassword')?.hasError('passwordRegex')){
      <mat-error
        >La contraseña debe incluir al menos una mayúscula, una minúscula, un
        número y un símbolo.</mat-error
      >
      }
      <mat-hint class="text-neutral-600 text-sm"
        >Asegurate de que la contraseña sea segura y no la compartas con
        nadie.</mat-hint
      >
    </mat-form-field>
  </form>
  <div class="flex justify-end">
    <button
      mat-fab
      extended="true"
      type="button"
      color="primary"
      (click)="saveNewPassword()"
    >
      Cambiar contraseña
    </button>
  </div>
</article>
